/* Reset */
* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

/* Main Styling */
html,body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}
a {
	color:#333;
	text-decoration: none;
}
h1, h2, h3 {padding-left: 20px;}
p {margin: 10px 0;}



/*Navbar*/
#navbar {
	background: #333;
	color: #fff;
	overflow: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#navbar a {
	color: #fff;
}

#navbar ul {
	display: flex;
	list-style: none;
}

#navbar ul li a {
	display: block;
	padding: 20px;
	text-align: center;
}

#navbar ul li a:hover,
#navbar ul li .current {
	background: #444;
	color: #f7c08a;
}

/*Showcase*/
#showcase {
	background: url('../img/showcase.jpg') no-repeat center center/cover;
	height: 600px;
}

#showcase .showcase-content {
	color: #fff;
	text-align: center;
	padding-top: 170px;
}

#showcase .showcase-content h1 {
	font-size: 60px;
	line-height: 1.2em;
}  